# https://npm.taobao.org/mirrors
# https://docs.npmjs.com/files/npmrc

# npm config ls -l
# npx unimported
# npx depcheck

# It helps to use the same node.js version always
lts/fermium

registry = https://registry.npmjs.org

# package-lock=false
# tag-version-prefix=""
# message="chore(release): %s :tada:"
